<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebon.cdjcy.user.dao.RoleAndMenuMapper">
  <resultMap id="BaseResultMap" type="com.cebon.cdjcy.user.domain.RoleAndMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>

  <!--根据角色id删除对应权限-->
    <delete id="deleteByRoleId">
        DELETE FROM role_right WHERE role_id = #{param1}
    </delete>

  <!--批量添加-->
   <insert id="addList" parameterType="java.util.List" >
     INSERT INTO role_right ( role_id,menu_id ) VALUES
     <foreach collection="list" item="item" index="index"
              separator=",">
       (
          #{item.roleId},#{item.menuId}
       )
     </foreach>
   </insert>

</mapper>

