<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebon.cdjcy.oauth.dao.OauthRefreshTokenMapper">
  <resultMap id="BaseResultMap" type="com.cebon.cdjcy.oauth.domain.OauthRefreshToken">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
    <result column="token" jdbcType="LONGVARBINARY" property="token" />
    <result column="authentication" jdbcType="LONGVARBINARY" property="authentication" />
  </resultMap>
</mapper>